#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_NEW 10002
#define IDM_OPEN 10003
#define IDM_SAVE 10004
#define IDM_SAVEAS 10005
#define IDM_EXIT 10006
#define IDM_EDIT 10030
#define IDM_UNDO 10031
#define IDM_REDO 10032
#define IDM_VIEW 10040
#define IDM_TOOLBAR 10041
#define IDM_STATUSBAR 10042
#define IDM_ZOOM 10043
#define IDM_ZOOM_DEFAULT 10111
#define IDM_ZOOM_LARGE 10112
#define IDM_ZOOM_CUSTOM 10113
#define IDM_IMAGE 10050
#define IDM_TOOL 10007
#define IDM_PEN_WIDTH 10051
#define IDM_PEN_WIDTH1 10081
#define IDM_PEN_WIDTH2 10082
#define IDM_PEN_WIDTH3 10083
#define IDM_PEN_WIDTH4 10084
#define IDM_PEN_WIDTH5 10085
#define IDM_PEN_WIDTH6 10086
#define IDM_FILL_MODE 10052
#define IDM_FILL_DEFAULT 10091
#define IDM_FILL_NOBRUSH 10092
#define IDM_FILL_NOPEN 10093
#define IDM_ERASER_SIZE 10053
#define IDM_ERASER_SIZE1 10101
#define IDM_ERASER_SIZE2 10102
#define IDM_ERASER_SIZE3 10103
#define IDM_ERASER_SIZE4 10104
#define IDM_ERASER_SIZE5 10105
#define IDM_CLEAR 10054
#define IDM_PROPERTY 10055
#define IDM_HELP 10070
#define IDM_ABOUT 10071
IDR_MENU MENUEX
BEGIN
  POPUP "文件(&F)",IDM_FILE
  BEGIN
    MENUITEM "新建(&N)\tCtrl+N",IDM_NEW
    MENUITEM "打开(&O)\tCtrl+O",IDM_OPEN
    MENUITEM "保存(&S)\tCtrl+S",IDM_SAVE
    MENUITEM "另存为(&A)...\tCtrl+Shift+S",IDM_SAVEAS
    MENUITEM "",,0x00000800
    MENUITEM "退出(&X)\tAlt+F4",IDM_EXIT
  END
  POPUP "编辑(&E)",IDM_EDIT
  BEGIN
    MENUITEM "撤销(&Z)\tCtrl+Z",IDM_UNDO
    MENUITEM "重做(&R)\tCtrl+R",IDM_REDO
  END
  POPUP "视图(&V)",IDM_VIEW
  BEGIN
    MENUITEM "工具栏(&T)\tCtrl+T",IDM_TOOLBAR,,0x00000008
    MENUITEM "状态栏(&S)",IDM_STATUSBAR,,0x00000008
    MENUITEM "",,0x00000800
    POPUP "缩放(&Z)",IDM_ZOOM
    BEGIN
      MENUITEM "默认(&D)",IDM_ZOOM_DEFAULT
      MENUITEM "放大(&L)",IDM_ZOOM_LARGE
      MENUITEM "自定义(&C)...",IDM_ZOOM_CUSTOM
    END
  END
  POPUP "图像(&I)",IDM_IMAGE
  BEGIN
    MENUITEM "工具(&T)",IDM_TOOL
    POPUP "画笔粗细(&P)",IDM_PEN_WIDTH
    BEGIN
      MENUITEM "&1 像素",IDM_PEN_WIDTH1,0x00000200
      MENUITEM "&2 像素",IDM_PEN_WIDTH2,0x00000200
      MENUITEM "&3 像素",IDM_PEN_WIDTH3,0x00000200
      MENUITEM "&4 像素",IDM_PEN_WIDTH4,0x00000200
      MENUITEM "&5 像素",IDM_PEN_WIDTH5,0x00000200
      MENUITEM "自定义(&C)...",IDM_PEN_WIDTH6,0x00000200
    END
    POPUP "填充模式(&F)",IDM_FILL_MODE
    BEGIN
      MENUITEM "默认(&D)",IDM_FILL_DEFAULT,0x00000200
      MENUITEM "无填充(&T)",IDM_FILL_NOBRUSH,0x00000200
      MENUITEM "无边框(&F)",IDM_FILL_NOPEN,0x00000200
    END
    POPUP "橡皮擦大小(&S)",IDM_ERASER_SIZE
    BEGIN
      MENUITEM "&4 像素",IDM_ERASER_SIZE1,0x00000200
      MENUITEM "&6 像素",IDM_ERASER_SIZE2,0x00000200
      MENUITEM "&8 像素",IDM_ERASER_SIZE3,0x00000200
      MENUITEM "1&0 像素",IDM_ERASER_SIZE4,0x00000200
      MENUITEM "自定义(&C)...",IDM_ERASER_SIZE5,0x00000200
    END
    MENUITEM "",,0x00000800
    MENUITEM "清空\tCtrl+Shift+N",IDM_CLEAR
    MENUITEM "属性(&A)\tCtrl+E",IDM_PROPERTY
  END
  POPUP "帮助(&H)",IDM_HELP
  BEGIN
    MENUITEM "关于画图(&A)",IDM_ABOUT
  END
END
