#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_NEW 10002
#define IDM_FILE_OPEN 10003
#define IDM_FILE_SAVE 10004
#define IDM_FILE_SAVEAS 10005
#define IDM_FILE_EXIT 10006
IDR_MENU MENUEX
BEGIN
  POPUP "文件(&F)",IDM_FILE
  BEGIN
    MENUITEM "新建(&N)\tCtrl+N",IDM_FILE_NEW
    MENUITEM "打开(&O)\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "保存(&S)\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "另存为(&A)",IDM_FILE_SAVEAS
    MENUITEM "",,0x00000800
    MENUITEM "退出(&X)\tAlt+F4",IDM_FILE_EXIT
  END
END
