#define IDB_CONTROLS					100
#define MANIFEST 						24
#define ID_MANIFEST						1
#define IDI_APP							1
IDB_CONTROLS			BITMAP    DISCARDABLE "Res/controls.bmp"
ID_MANIFEST				MANIFEST  DISCARDABLE "Res/manifests.xml"
IDI_APP					ICON      DISCARDABLE "Res/app.ico"
