#define IDR_ACL							1
IDR_ACL ACCELERATORS DISCARDABLE
BEGIN
  "n",IDM_NEW,VIRTKEY,NOINVERT,CONTROL
  "o",IDM_OPEN,VIRTKEY,NOINVERT,CONTROL
  "s",IDM_SAVE,VIRTKEY,NOINVERT,CONTROL
  "s",IDM_SAVEAS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "z",IDM_UNDO,VIRTKEY,NOINVERT,CONTROL
  "r",IDM_REDO,VIRTKEY,NOINVERT,CONTROL
  "t",IDM_TOOLBAR,VIRTKEY,NOINVERT,CONTROL
  "n",IDM_CLEAR,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "p",IDM_PROPERTY,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "c",IDM_ERASER,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "b",IDM_PAINT_BARREL,VIRTKEY,NOINVERT,CONTROL
  "o",IDM_COLOR_PICKER,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "i",IDM_PENCIL,VIRTKEY,NOINVERT,CONTROL
  "t",IDM_TEXT,VIRTKEY,NOINVERT,CONTROL
  "l",IDM_STRAIGHT_LINE,VIRTKEY,NOINVERT,CONTROL
  "v",IDM_CURVE,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "r",IDM_RECTANGLE,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "e",IDM_ELLIPSE,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "f",IDM_FOREGROUND_COLOR,VIRTKEY,NOINVERT,CONTROL
  "g",IDM_BACKGROUND_COLOR,VIRTKEY,NOINVERT,CONTROL
  "0",IDM_ZOOM_DEFAULT,VIRTKEY,NOINVERT,CONTROL
  33,IDM_ZOOM_LARGER,VIRTKEY,NOINVERT,CONTROL
  34,IDM_ZOOM_SMALLER,VIRTKEY,NOINVERT,CONTROL
END
