#define IDR_ACL							1
IDR_ACL ACCELERATORS DISCARDABLE
BEGIN
  "n",IDM_NEW,VIRTKEY,NOINVERT,CONTROL
  "o",IDM_OPEN,VIRTKEY,NOINVERT,CONTROL
  "s",IDM_SAVE,VIRTKEY,NOINVERT,CONTROL
  "s",IDM_SAVEAS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "z",IDM_UNDO,VIRTKEY,NOINVERT,CONTROL
  "r",IDM_REDO,VIRTKEY,NOINVERT,CONTROL
  "t",IDM_TOOLBAR,VIRTKEY,NOINVERT,CONTROL
  "n",IDM_CLEAR,VIRTKEY,NOINVERT,SHIFT,CONTROL
  "e",IDM_PROPERTY,VIRTKEY,NOINVERT,CONTROL
END
